<form id="imageForm" action="/image" method="get">
    <input class="buttons" type="submit" value="Image API">
</form>
<form id="weatherForm" action="/weather" method="get">
    <input class="buttons" type="submit" value="Weather API">
</form>